
[*]

# ReSharper properties
resharper_case_block_braces = end_of_line
resharper_empty_block_style = together
resharper_invocable_declaration_braces = end_of_line
resharper_namespace_declaration_braces = end_of_line
resharper_new_line_before_else = false
resharper_new_line_before_while = false
resharper_other_braces = end_of_line
resharper_requires_expression_braces = end_of_line
resharper_type_declaration_braces = end_of_line
